<!DOCTYPE html>
<html>
    <head>
        <title>English exercises</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                // Получение данных из Flask
                var data = {{ data|tojson }};
                var df = data['df'];
                var descriptions = data['descriptions'];

                // Функция для отображения описания задания
                function showDescription(index) {
                    var description = descriptions[index];
                    $('#description').text('Задание: ' + description);
                }

                // Добавление обработчиков событий к полям ввода и выпадающим спискам
                for (var i = 0; i < df.length; i++) {
                    $(`[name='user_answer_${i}']`).on('focus', {index: i}, function(event) {
                        showDescription(event.data.index);
                    });
                }
            });
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <!-- Основная колонка -->
                    <form action="/" method="post" class="m-3">
                        {{ text|safe }}
                        <input type="submit" value="Отправить" class="btn btn-primary">
                    </form>
                </div>
                <div class="col-md-4">
                    <!-- Информационная панель -->
                    <div class="m-3">
                        <h3>Информационная панель</h3>
                        <p id="description"></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
