<!DOCTYPE html>
<html>
<head>
<!-- Подключение Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="d-flex flex-wrap">
  <div class="p-2">The sun was setting behind the 11</div>
  <span class="p-2">Очень</span>
  <input class="p-2" type="text" />
  <span class="p-2">длинный</span>
  <span class="p-2">,</span>
  <div class="p-2">painting the sky with vibrant shades of orange and pink.</div>
  <div class="p-2">A gentle breeze rustled the leaves of the trees, </div>
  <select class="p-2">
    <option>carrying</option>
    <option>barrying</option>
    <option>carre</option>
  </select>
  <div class="p-2">with it the sweet scent of blooming flowers.Birds chirped their goodnight songs as the world settled into a peaceful slumber.</div>
</div>

<div class="p-2">
  The sun was setting behind the mountains, <input type="text" /> the sky with vibrant shades of orange and pink. A gentle breeze rustled the leaves of the trees, carrying with it the sweet scent of blooming flowers. Birds chirped their goodnight <select>
    <option>songs</option>
    <option>books</option>
    <option>pens</option>
  </select> as the world settled into a peaceful slumber.
</div>

</body>
</html>
</body>
</html>
